<%- include('partials/header'); -%>

  <div class="container" >
    <div style="height: 500px;" class="row d-flex justify-content-center text-center align-items-center">
      <div class="col-md-6 ">
        <a class="btn btn-lg btn-primary" href="/auth/facebook">Login using Facebook</a>
      </div>
    </div>
  </div>

<%- include('partials/footer'); -%>